.calculatorNumber_container {
  width: 282px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.calculatorNumber_button {
  border: 1px solid gray;
  padding: 20px;
  font-size: 25px;
  color: black;
  background-color: #669bbc;
  border-radius: 10px;
}
.calculatorNumber_button:hover {
  cursor: pointer;
  background-color: #003049;
  color: white;
}
